<!-- <div class="container">
  <div class="row  mt-4">
    <h2 class="text-center mt-2">Login</h2>
   <form>
     <div class="form-group">
       <label for="exampleInputEmail1">Email address</label>
       <input type="email" class="form-control" #email id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
       <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
     </div>
     <div class="form-group mt-2">
       <label for="exampleInputPassword1">Password</label>
       <input type="password" #pass class="form-control" id="exampleInputPassword1" placeholder="Password">
     </div>
     <div class="form-check mt-2">
       <input type="checkbox" class="form-check-input" id="exampleCheck1">
       <label class="form-check-label" for="exampleCheck1">Check me out</label>
     </div>
     <button type="submit" (click)="login(email, pass)" class="btn btn-primary mt-2" style="width: 100%;">Submit</button>
   </form>
  </div>
 </div> -->

 <!-- <html>
  <head>
    <title>login</title>
  </head>
  <body>
    <div class="wrapper">
      <form action="">
          <h1>Login </h1>
          <div class="input-box">
              <input type="text" placeholder="Username" class="form-control" #email  aria-describedby="emailHelp" required>
          </div>
          <div class="input-box">
              <input type="password"  #pass class="form-control" placeholder="Password" required>
          </div>
          <div class="remember-forgot">
              <label>
                  <input type="checkbox">Remember me
              </label>
              <a href="#">Forgot password ?</a>
          </div>
          <button type="submit" class="btn" (click)="login(email, pass)">Login</button>
    
          <div class="register-link">
              <p>Don't have an account?<a href="#">Register</a></p>
          </div>
      </form>
    </div>
  </body>
 </html> -->