.container{
    margin-top: 100px;
height: 300px;
width: 500px;
   background-image: url('https://cutewallpaper.org/26/light-background-colors/30-beautiful-color-gradients-for-your-next-design-project.png');
    border-radius: 10px;
}