<div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/earbud.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Earbud</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="text-center">
              <a routerLink="earbud" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/headphone.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">HeadPhone</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="text-center">
            <a routerLink="headphone" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      
  
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/soundbar.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Soundbar</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="text-center">
              <a routerLink="soundbars" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/speaker.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Speaker</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="text-center">
            <a routerLink="headphone" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
        <!-- code in this div is for multiple router outlet -->
      </div>
  </div>
  