input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 0 0 13px #ff000021;
}

.text-danger {
  margin-top: 5px;
}

/* .btn-add {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.397);
} */

.btn-add i {
  font-size: 14px;
  line-height: 15px;
  margin-right: 4px;
}

/* .btn-add:hover {
  border: 1px solid #020f1c;
  background: #242222;
  
} */

.fa-plus, .fa-minus {
  font-size: 14px;
  line-height: 15px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 4px;
}


.removebtn{
    margin-left: 10px;
    height: 38px;
    width: 40px;
}
h4{
    text-align: center;
}

.py-5{
    background-image: url('https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGxvZ2lufGVufDB8fDB8fHww&w=1000&q=80');
    background-size: cover;
    background-repeat: no-repeat;
}

input, select {
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.5); 
  }

  