<div class="tle">
    <h3 class="row justify-content-center mb-3">User Details</h3>
  
    <table class="table table-striped rounded" id="userDetails">
      <thead>
        <tr>
          <th class="head">ID</th>
          <th class="head">Name</th>
          <th class="head">Username</th>
          <th class="head">Email</th>
          <th class="head">Address</th>
          <th class="head">Coordinates</th>
          <th class="head">Phone</th>
          <th class="head">Website</th>
          <th class="head">Company</th>
          <th class="head">Catch Phrase</th>
          <th class="head">Business Service</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="user" class="user-details">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            {{ user.address.street }}, {{ user.address.suite }}, {{ user.address.city }}, {{ user.address.zipcode }}
          </td>
          <td>
            {{ user.address.geo.lat }}, {{ user.address.geo.lng }}
          </td>
          <td>{{ user.phone }}</td>
          <td>
            <a [href]="'http://' + user.website" target="_blank">{{ user.website }}</a>
          </td>
          <td>{{ user.company.name }}</td>
          <td>{{ user.company.catchPhrase }}</td>
          <td>{{ user.company.bs }}</td>
        </tr>
      </tbody>
    </table>
  
  </div>
  