<!--The content below is only a placeholder and can be replaced.-->
 <!-- <div style="text-align:center"> -->
  <!-- <h1>
    Welcome to {{ title }}!
  </h1>  -->
  <!-- <app-demodatabinding></app-demodatabinding> -->
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->
<!-- <h2>Here are some links to help you start: </h2> -->
<!-- 
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<!-- <app-demo></app-demo> -->
<!-- <app-user-name></app-user-name> -->
<!-- <app-child [dataInput]='data' (foodEvent)="getDataFromChild($event)"></app-child> -->



<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button> -->

<!-- <app-ngif></app-ngif> -->

<!-- <app-ngfor></app-ngfor>


<app-attributedir></app-attributedir>


<p class="text-center">This is normal para</p>
<p class="text-center" appCustdir>This is normal para</p> -->

<!-- <app-assignment-ngfor></app-assignment-ngfor> -->
<!-- <app-practice></app-practice> -->

<!-- <app-simpleform></app-simpleform> -->

<!-- <app-nested-form-assignment></app-nested-form-assignment> -->

<!-- <app-reactiveform></app-reactiveform> -->

<!-- <app-reactive-assignment-one></app-reactive-assignment-one> -->

<!-- <app-dynamic-reactive-form-assign></app-dynamic-reactive-form-assign> -->

<!-- <app-form-assignment></app-form-assignment> -->

<!-- <app-dynamic-validation-react-form></app-dynamic-validation-react-form> -->

<!-- <app-comp1></app-comp1> -->

<!-- <app-comp2></app-comp2> -->

<!-- <app-calculate-age1></app-calculate-age1> -->
<!-- <app-calculate-age2></app-calculate-age2> -->

<!-- <app-user></app-user> -->

<!-- <app-validation-assign2-reactive-form></app-validation-assign2-reactive-form> -->

<!-- <app-pipedemo></app-pipedemo> -->

<!-- <app-filterpipe></app-filterpipe> -->

<!-- <app-user-filter-comp-assign></app-user-filter-comp-assign> -->

<!-- <div class="row">

  <div class="col-md-6">
    <app-comp3></app-comp3>
    <app-comp4></app-comp4>
  </div>

  <div class="col-md-6">
    <app-comp5></app-comp5>
    <app-comp6></app-comp6>
  </div>

</div> -->



<!-- <div class="row col-md-12" style="position: relative;">
  <img src="https://images.pexels.com/photos/7130535/pexels-photo-7130535.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="position: absolute; width: 100%; height: 100%; object-fit: cover; z-index: -1;">

  <div class="col-md-6" style="padding: 20px;">
    <app-assignment-multi-comp1></app-assignment-multi-comp1>
  </div>
  <div class="col-md-6" style="padding: 20px;">
    <app-assignment-multi-comp2></app-assignment-multi-comp2>
  </div>
  <div class="col-md-6" style="padding: 20px;">
    <app-assignment-multi-comp3></app-assignment-multi-comp3>
  </div>
  <div class="col-md-6" style="padding: 20px;">
    <app-assignment-multi-comp4></app-assignment-multi-comp4>
  </div>
</div> -->
<!-- 
<div appCustdir>
  TestDiv
</div> -->


<!-- <header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3498db;">
    <div class="container">
      <a class="navbar-brand" routerLinkActive="active" routerLink="/login" >Login</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/aboutus" >About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/contactus" >Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/product" >Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/post" >Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/user" >Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/userdetails" >User Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/electronics-prod" >Electronics</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->

<!-- <app-navbar-routing></app-navbar-routing> -->

<!-- <input type="text" (blur)="OnTextValuCHanges(val)" #val>
<app-hook [fromParent]="data" *ngIf="isDestroy">
  <h1 #child>This is child content coming from parent component</h1>
</app-hook>
<button class="btn btn-danger" (click)="OnDestroy()">OnDestroy</button> -->

<!-- <app-dynamiclogin></app-dynamiclogin> -->

<!-- <app-task></app-task> -->

<!-- <app-creditcard></app-creditcard> -->


<router-outlet></router-outlet>
