<div class="mt-4">
    <div class="card col-md-6">
      <div class="card-body">
        <h4 class="card-title text-center">Profile</h4>
        <div class="text-center">
          <img src="https://www.sarojhospital.com/images/testimonials/dummy-profile.png" height="150px" width="200px">
        </div>
        <p class="card-text text-center">Username: {{ loggedInUsername }}</p>
        <div class="text-center">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
  